<footer class="page-footer">
    <section class="page-footer__bottom-panel">
        <div class="uk-container uk-container-center">
            <div class="uk-grid">
                <div class="uk-width-medium-1-3 uk-flex uk-flex-middle">
                    <div class="page-footer__copyright"><p class="uk-display-inline page-footer__copyright-year">2016</p> <i class="uk-icon uk-icon-copyright"></i> Agropromengineering</div>
                </div>
                <div class="uk-width-medium-1-3 uk-flex uk-flex-center uk-flex-middle">
                    <div class="page-footer__socials">
                        <a href="" class="uk-icon-button uk-icon-justify uk-icon-vk"></a>
                        <a href="" class="uk-icon-button uk-icon-justify uk-icon-facebook"></a>
                    </div>
                </div>
                <div class="uk-width-medium-1-3 uk-flex uk-flex-middle">
                    <div class="page-footer__dev">
                        <p>Разработка и поддержка сайта: студия Velest</p>
                    </div>
                </div>
            </div>

        </div>
    </section>
</footer>